/* SCREEN: connect-bar */
#connect-bar {
  z-index: 9000;
}

#connect-bar .container {
  position: absolute;
  top: 15%;
  bottom: 0;
  left: 0;
  right: 0;
}

#connect-bar #screen-search-bars {
  position: absolute;
  z-index: 9800;
  display: none;
}

#connect-bar #screen-searching-bars {
  position: absolute;
  z-index: 9700;
  display: none;
}

#connect-bar #screen-no-bars {
  position: absolute;
  z-index: 9600;
  display: none;
}

/* SCREEN: screen-bars */
#screen-bars {
  position: absolute;
  z-index: 9500;
  display: none;
}

#screen-bars .content {
  padding: 0 5%;
  padding-bottom: 20px;
  overflow: hidden;
}

#screen-bars .content h3 {
  font-size: 23px;
  font-weight: 300;
  color:  rgba(227, 227, 227, 0.5);
  text-align: center;
  margin-top: 8%;
  margin-bottom: 4%;
}


#screen-bars .bar,
.bar.animatedBar {
  width: 100%;
  margin-bottom: 4%;
  margin-left: 50%;
  opacity: 0;
}

#screen-bars .bar .title,
.bar.animatedBar .title {
  color: #e3e3e3;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 2.5%;
}

#screen-bars .image img,
.bar.animatedBar .image img{
  width: 100%;
  height: auto;
}

