/* SCREEN: screen-connecting */
#screen-connecting {
  z-index: 9000;
}

#screen-connecting .container {
  position: absolute;
  top: 96px;
  bottom: 0;
  left: 0;
  right: 0;
}

#screen-connecting #screen-search-bars {
  position: absolute;
  z-index: 9800;
  display: none;
}

#screen-connecting #screen-searching-bars {
  position: absolute;
  z-index: 9700;
  display: none;
}

#screen-connecting #screen-no-bars {
  position: absolute;
  z-index: 9600;
  display: none;
}

/* SCREEN: screen-bars */
#screen-bars {
  position: absolute;
  z-index: 9500;
  display: none;
}

#screen-bars .content {
  padding: 0 18px;
  overflow: hidden;
}

#screen-bars .content h3 {
  font-size: 18px;
  font-weight: 300;
  color:  rgba(227, 227, 227, 0.5);
  text-align: center;
  margin-top: 27px;
  margin-bottom: 18px;
}


#screen-bars .bar,
.bar.animatedBar {
  width: 100%;
  margin-bottom: 18px;
  margin-left: 50%;
  opacity: 0;
}

#screen-bars .bar .title,
.bar.animatedBar .title {
  color: #e3e3e3;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 9px;
}

#screen-bars .image img,
.bar.animatedBar .image img{
  width: 100%;
  height: auto;
}

