<div class="scrollable-area scrollable-area-verticaly">
  <div class="content">
    <h3>Select your location</h3>

    <div class="bar">
      <div class="animate">
        <div class="title">La baza</div>
        <div class="image">
          <img src="../app-assets/imgs/la-baza.png" width="500px" height="500px"/>

        </div>
      </div>
    </div>
    <div class="bar">
      <div class="animate">
        <div class="title">La baza</div>
        <div class="image">
          <img src="../app-assets/imgs/la-baza.png" width="500px" height="500px"/>
        </div>
      </div>
    </div>

    <div class="bar">
      <div class="animate">
        <div class="title">La baza</div>
        <div class="image">
          <img src="../app-assets/imgs/la-baza.png" width="500px" height="500px"/>
        </div>
      </div>
    </div>

    <div class="bar">
      <div class="animate">
        <div class="title">La baza</div>
        <div class="image">
          <img src="../app-assets/imgs/la-baza.png" width="500px" height="500px"/>
        </div>
      </div>
    </div>
  </div>
</div>
