/* SCREEN: create-profile */
#create-profile {
  z-index: 8900;
  opacity: 0;
}

#create-profile .container {
  position: absolute;
  top: 25%;
  bottom: 0;
  left: 0;
  right: 0;
}

#create-profile .content {
  margin-top: 6%;
  padding: 0 15%;
}

#create-profile h3 {
  margin-bottom: 15%;
  color: #c2c2c2;
  font-weight: 100;
  font-size: 1.3em;
  text-align: center;
}

#create-profile input[type="text"] {
  width: 100%;
  font-size: 1.5em;
  font-weight: 300;
  color: white;
  background: none;
  border: 0;
  outline: 0;
  border-bottom: 5px solid red;
  padding: 0 5px;
  margin-bottom: 7%;
  min-height: 45px;
  float: left;
  margin-right: -45px;
  -webkit-appearance: none;
}

#create-profile .refresh {
  float: right;
  width: 45px;
  min-height: 45px;
}
#create-profile .refresh img {
  float: right;
  width: 25px;
  height: auto;
  padding: 10px 5px 0 0;
}

#create-profile input[type="button"] {
  width: 100%;
  border: 1px solid #3e3e3e;
  outline: 0;
  background: #0e0e0e;
  color: #fff;
  font-size: 1.5em;
  line-height: 2.5em;
  border-radius: 0;
  -webkit-appearance: none;
}


