<div class="header">
  <div class="title parent-valign">
    <div class="valign">Playlist</div>
  </div>
  <div class="icon" id="icon-playlist-close" ng-tap="closePlaylist()">
    <img src="lib/imgs/icon-close.png" />
  </div>
</div>

<div class="search-bar">
  <input id="search-box" 
         type="text" 
         placeHolder="Search a song" 
         ng-model="searchSong"
         ng-change="searching()"/>
</div>

<div class="container playlist-container">
  <div class="scrollable-area vs-scrollable-area-vertically" vs-repeat vs-excess="10">

      <div class="song" ng-repeat="song in playlist"
                        ng-tap="voteSong(song.id)"
                        ng-class="{'voted':song.voted}">
        <div class="song-data">
          <div class="song-title">
            {{song.artist}}
          </div>
          <div class="song-subtitle">
            {{song.name}}
          </div>
        </div>
      </div>

  </div>
</div>

<div class="container search-container">
  <div id="scroll-container" class="vs-scrollable-area-vertically scrollable-area" vs-repeat vs-excess="10">

      <div class="song" ng-repeat="song in playlist | filter:searchSong"
                        ng-tap="voteSong(song.id)"
                        ng-class="{'voted':song.voted}">
        <div class="song-data">
          <div class="song-title" ng-bind-html="song.artist | highlight:searchSong">
          </div>
          <div class="song-subtitle" ng-bind-html="song.name | highlight:searchSong">
          </div>
        </div>
      </div>

  </div>

</div>
