<div class="header">
  <div class="title parent-valign">
    <div class="valign">Playlist</div>
  </div>
  <div class="icon" id="icon-playlist-close">
    <img src="lib/imgs/icon-close.png" />
  </div>
</div>

<div class="container">
  <div class="scrollable-area scrollable-area-vertically">
    <div class="content">

      <div class="song" ng-repeat="song in playlist">
        <div class="song-data">
          <div class="song-title">
            {{song.artist}}
          </div>
          <div class="song-subtitle">
            {{song.title}}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
