<div class="header">
  <div class="title parent-valign">
    <div class="valign">Playlist</div>
  </div>
  <div class="icon" id="icon-playlist-close">
    <img src="lib/imgs/icon-close.png" />
  </div>
</div>

<div class="container">
  <div class="scrollable-area scrollable-area-vertically">
    <div class="content">
 
      <div class="song">
        <div class="song-data">
          <div class="song-title">
            Michael Jackson
          </div>
          <div class="song-subtitle">
            Beat me
          </div>
        </div>
      </div>

      <div class="song">
        <div class="song-data">
          <div class="song-title">
            Eminem
          </div>
          <div class="song-subtitle">
            Survival
          </div>
        </div>
      </div>

      <div class="song">
        <div class="song-data">
          <div class="song-title">
            Guess Who
          </div>
          <div class="song-subtitle">
            Scuza-ma
          </div>
        </div>
      </div>

      <div class="song">
        <div class="song-data">
          <div class="song-title">
            The Beatles
          </div>
          <div class="song-subtitle">
            The Help
          </div>
        </div>
      </div>

      <div class="song">
        <div class="song-data">
          <div class="song-title">
            Shannon Saunders Official
          </div>
          <div class="song-subtitle">
            Sheets
          </div>
        </div>
      </div>

      <div class="song">
        <div class="song-data">
          <div class="song-title">
            Sabina ddumba
          </div>
          <div class="song-subtitle">
            Scarred for Life
          </div>
        </div>
      </div>

      <div class="song">
        <div class="song-data">
          <div class="song-title">
            Jack Garratt
          </div>
          <div class="song-subtitle">
            Worry
          </div>
        </div>
      </div>

      <div class="song">
        <div class="song-data">
          <div class="song-title">
            Baby Queens
          </div>
          <div class="song-subtitle">
            Red Light
          </div>
        </div>
      </div>

      <div class="song">
        <div class="song-data">
          <div class="song-title">
            The Knocks
          </div>
          <div class="song-subtitle">
            Classic (featuring Powers)
          </div>
        </div>
      </div>

      <div class="song">
        <div class="song-data">
          <div class="song-title">
            Buddy Guy, Eric Clapton, BB King
          </div>
          <div class="song-subtitle">
            Let me love you
          </div>
        </div>
      </div>
  
      <div class="song">
        <div class="song-data">
          <div class="song-title">
            Michael Jackson
          </div>
          <div class="song-subtitle">
            Beat me
          </div>
        </div>
      </div>

      <div class="song">
        <div class="song-data">
          <div class="song-title">
            Eminem
          </div>
          <div class="song-subtitle">
            Survival
          </div>
        </div>
      </div>

      <div class="song">
        <div class="song-data">
          <div class="song-title">
            Guess Who
          </div>
          <div class="song-subtitle">
            Scuza-ma
          </div>
        </div>
      </div>

      <div class="song">
        <div class="song-data">
          <div class="song-title">
            The Beatles
          </div>
          <div class="song-subtitle">
            The Help
          </div>
        </div>
      </div>

      <div class="song">
        <div class="song-data">
          <div class="song-title">
            Shannon Saunders Official
          </div>
          <div class="song-subtitle">
            Sheets
          </div>
        </div>
      </div>

      <div class="song">
        <div class="song-data">
          <div class="song-title">
            Sabina ddumba
          </div>
          <div class="song-subtitle">
            Scarred for Life
          </div>
        </div>
      </div>

      <div class="song">
        <div class="song-data">
          <div class="song-title">
            Jack Garratt
          </div>
          <div class="song-subtitle">
            Worry
          </div>
        </div>
      </div>

      <div class="song">
        <div class="song-data">
          <div class="song-title">
            Baby Queens
          </div>
          <div class="song-subtitle">
            Red Light
          </div>
        </div>
      </div>

      <div class="song">
        <div class="song-data">
          <div class="song-title">
            The Knocks
          </div>
          <div class="song-subtitle">
            Classic (featuring Powers)
          </div>
        </div>
      </div>

      <div class="song">
        <div class="song-data">
          <div class="song-title">
            Buddy Guy, Eric Clapton, BB King
          </div>
          <div class="song-subtitle">
            Let me love you
          </div>
        </div>
      </div>


      <div class="song">
        <div class="song-data">
          <div class="song-title">
            Michael Jackson
          </div>
          <div class="song-subtitle">
            Beat me
          </div>
        </div>
      </div>

      <div class="song">
        <div class="song-data">
          <div class="song-title">
            Eminem
          </div>
          <div class="song-subtitle">
            Survival
          </div>
        </div>
      </div>

      <div class="song">
        <div class="song-data">
          <div class="song-title">
            Guess Who
          </div>
          <div class="song-subtitle">
            Scuza-ma
          </div>
        </div>
      </div>

      <div class="song">
        <div class="song-data">
          <div class="song-title">
            The Beatles
          </div>
          <div class="song-subtitle">
            The Help
          </div>
        </div>
      </div>

      <div class="song">
        <div class="song-data">
          <div class="song-title">
            Shannon Saunders Official
          </div>
          <div class="song-subtitle">
            Sheets
          </div>
        </div>
      </div>

      <div class="song">
        <div class="song-data">
          <div class="song-title">
            Sabina ddumba
          </div>
          <div class="song-subtitle">
            Scarred for Life
          </div>
        </div>
      </div>

      <div class="song">
        <div class="song-data">
          <div class="song-title">
            Jack Garratt
          </div>
          <div class="song-subtitle">
            Worry
          </div>
        </div>
      </div>

      <div class="song">
        <div class="song-data">
          <div class="song-title">
            Baby Queens
          </div>
          <div class="song-subtitle">
            Red Light
          </div>
        </div>
      </div>

      <div class="song">
        <div class="song-data">
          <div class="song-title">
            The Knocks
          </div>
          <div class="song-subtitle">
            Classic (featuring Powers)
          </div>
        </div>
      </div>

      <div class="song">
        <div class="song-data">
          <div class="song-title">
            Buddy Guy, Eric Clapton, BB King
          </div>
          <div class="song-subtitle">
            Let me love you
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
