/* SCREEN jukebox */
#screen-jukebox {
  z-index: 1000;
}

#screen-jukebox .content {
  /*  */
}

#screen-jukebox .header .valign {
  padding-top: 2px;
}

#screen-jukebox .header {
  height: 44px;
  background: #0e0e0e;
}

#screen-jukebox .header .title {
  font-size: 100%;
  font-weight: bold;
  float: left;
}

#screen-jukebox .container {
  position: absolute;
  top: 44px;
  bottom: 80px;
  left: 0;
  right: 0;
}

#screen-jukebox .content {
  padding-bottom: 10px;
}

#screen-jukebox .song-current {
  height: 76px;
  /*margin-left: -5%;
  margin-right: -5%;*/
  padding: 0 20px;
  /*border-bottom: 1px solid #3e3e3e;*/
  background: #0e0e0e;
}

#screen-jukebox .song-current .song-title {
  padding-top: 1px;
  line-height: 1.5em;
}

#screen-jukebox .song-current .song-subtitle {
  color: #b6b6b6;
  font-weight: 300;
  line-height: 1.5em;
  font-size: 15px;
  margin-top: -2px;
}

#screen-jukebox .song-progress {
  margin: 7px 0 10px 0;
  width: 100%;
  height: 3px;
}

#screen-jukebox .song-progress-full {
  margin-right: -100%;
  width: 100%;
  margin-top: 1px;
  height: 1px;
  background: #3e3e3e;
  float: left;
}

#screen-jukebox .song-progress-current {
  float: left;
  width: 0%;
  height: 100%;
  background: #15add7;
}

#screen-jukebox .song {
  border-bottom: 1px solid #3e3e3e;
  height: 52px;
  padding: 9px 20px;
}

#screen-jukebox .song .song-title {
  margin-top: 3px;
  color: #15acd6;
  line-height: 1.5em;
}

#screen-jukebox .song .song-subtitle {
  color: #e9e9e9;
  line-height: 1.2em;
  font-weight: 100;
  font-size: 15px;
}

#screen-jukebox .song .song-data {
  float: left;
  max-width: 90%;
}

#screen-jukebox .song .song-vote {
  float: right;
  text-align: right;
  color: #e9e9e9;
}

#screen-jukebox .song.voted {
  background-color: purple;
}

#screen-jukebox .song.voted .song-vote {
  background-color: purple;
}


