<div class="header">
  <div class="title parent-valign">
    <div class="valign">Jukebox</div>
  </div>
  <div class="icon" id="icon-playlist">
    <img src="lib/imgs/icon-playlist.png" />
  </div>
</div>

<div class="container">
  <div class="scrollable-area scrollable-area-vertically">
    <div class="content">

      <div class="song-current">
        <div class="song-title">
          {{currentSong.name}}
        </div>
        <div class="song-subtitle">
          {{currentSong.artist}}
        </div>
        <div class="song-progress">
          <!-- <div class="song-progress-full">
          </div> -->
          <div class="song-progress-current" ng-style="{'width': currentSong.progress}">
          </div>
        </div>
      </div>

      <div class="song" ng-repeat="song in jukebox">
        <div class="song-data">
          <div class="song-title">
            {{song.artist}}
          </div>
          <div class="song-subtitle">
            {{song.name}}
          </div>
        </div>
        <div class="song-vote parent-valign">
          <span class="valign">{{song.votes}}</span>
        </div>
      </div>

    </div>
  </div>
</div>
